body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.player-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* gap: 2px; */
    margin-top: 20px;
}

.cell {
    background-color: pink;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
        border: 1px solid black;
}

.hidden {
    display: none;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.winner {
    background-color: purple !important;
    color: black;
}